body {
  font-family: Arial, sans-serif;
  background: #f2f2f2;
  padding: 20px;
}

.container {
  max-width: 600px;
  margin: auto;
  background: white;
  padding: 20px;
  border-radius: 8px;
}

label {
  display: block;
  margin-top: 10px;
  font-weight: bold;
}

select, button {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
}

#months, #seasons {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 10px;
}

#months label,
#seasons label {
  font-weight: normal !important;
}


.hidden {
  display: none;
}

#result img {
  display: block;
  max-width: 100%;
  margin-top: 20px;
}